.text-center {
    text-align: center;
}
.container {
    margin: 0 100px;
    height: 250px;
    background-color: rgb(242, 238, 238);
    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
}
.beyaz-kutu {
    width: 400px;
    height: 1px;
    background-color: white;
    text-align: center;
    margin: 0 100px 200px 400px;
    padding: 10px 50px 10px 50px;    
    border-top: 1px solid black;
    border-left: 1px solid black;

}
.toplu-kutu {
    width: 400px;
    height: 1px;
    background-color: rgb(242, 238, 238) ;
    text-align: center;
    padding: 10px px 10px 50px;

}
.gri-buton {
    width: 180px;
    margin: 0 150px 70px 0px;
    height: 1px;
    background-color: rgb(126, 122, 122);
    text-align: center;
    padding: 0 20px 20px 5px;
    position: absolute; /* Gri kutunun pozisyonunu absolute olarak ayarlar */
    top: 250px;