.container {
    width: 30%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

button {
    width: 100%;
    background-color: #34db87;
    color: rgb(80, 75, 75);
    border: none;
    padding: 14px 20px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

.img{
    width: 100%;
    height: auto;
}
#h2 {  
    text-align: center;
}
#h1 {  
    text-align: center;
}